{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true
    }],
    "no-mixed-operators": "warn"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "prettier",
    "promise"
  ]
}
